@{
    ViewBag.Title = "ClientSdk Page";
}

<div>
    <div>
        <h1>Using ClientSdk</h1>
    </div>
    <div>
        <h2>Upload: </h2>
    </div>
    @using (Html.BeginForm("Upload", "ClientSdk", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
        <input type="file" name="postedFile" />
        <br />
        <input type="submit" value="Upload" />
        <span style="color:green">@ViewBag.Message</span>
    }

    <hr />

    @{
        AzureStorageSample.Business.IBlobActions blobActions = new AzureStorageSample.Business.ClientSdkBlobActions();

        AzureStorageSample.Models.ViewModels.BlobListViewModel blobListViewModel = new AzureStorageSample.Models.ViewModels.BlobListViewModel()
        {
            Blobs = blobActions.List()
        };

        Html.RenderPartial("~/Views/ClientSdk/_Blobs.cshtml", blobListViewModel);
    }

    <br />

    <input type="button" value="Test Download All" onclick="location.href='@Url.Action("TestDownloadAll", "ClientSdk")'" />

    @ViewBag.DownloadInfo

    <br />

    <input type="button" value="Download All" onclick="location.href='@Url.Action("DownloadAll", "ClientSdk")'" />


    <hr />

    <h4>CODE: <a href="https://github.com/Jeromesciortino/AzureBlobStorageSample/blob/main/AzureStorageSample/Business/ClientSdkBlobActions.cs" target="_blank">AzureStorageSample/Business/ClientSdkBlobActions.cs</a></h4>
</div>